body {
  background-color: #BCE29E;
}

h1 {
  color: #6D8B74;
  font-size: 140px;
  font-style: italic;
  text-align: center;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
